* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1em;
}

header{
    background-color: #3A4D28;
}

nav{
    background-color: #678a47;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

footer{
    background-color: #678a47;
    text-align: center;
    font-family: serif;
}

main{
width: 100%;
}

aside{
    background-color: #678a47;
    text-align: center;
    padding: 1% 0%;
}

aside ul {
    list-style-type: circle;
    list-style-position: inside;
    text-align: center;
}

aside ul li {
    margin: 10px 0px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    color: #c4d7b2;
    text-align: center;
    letter-spacing: 1px;
    font-family: Helvetica, sans-serif;
    font-size: 64px;
}

h2, h3 {
    color: #678a47;
    letter-spacing: 1px;
    font-style: italic;
}

h2 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 32px;
}

h3 {
    text-align: left;
    font-family: serif;
    font-size: 16px;
}

a {
    color: #c4d7b2;
    text-decoration: none;
}
a:hover {
    color: #DBE7D0;
}
a:visited {
    color: #F2F6EE;
}

section {
    background-color: #FAFBF8;
    text-align: justify;
}

p {
    color: #0D1109;
    text-indent: 20px;
    line-height: 1.5em;
    font-family: serif;
    font-size: 14px;
}

form {
    background-color: #c5b2d7;
    color: #3A4D28;
    text-align: center;
    font-weight: bold;
}

table {
    background-color: #FAFBF8;
    color: #0D1109;
    text-align: center;
    font-family: serif;
    caption-side: bottom;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border: #c5b2d7 5px solid;
    margin: 20px 0px;
}

th, td {
    padding: 5px;
}

caption {
    font-style: italic;
    margin-top: 5px;
}

#whatsappIcono {
    position: fixed;
    bottom: 20px;
    right: 10px;
}